@keyframes Gradientbackground1 { 
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
html, body {
    overflow-x: scroll;
    overflow-y: scroll;
}



#app1{
    width:120vw;
    height:100vh;
    position: absolute;
/*    background-color: antiquewhite;*/
    left:0px;
    top:0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(127deg, rgb(255, 82, 82),rgb(255, 82, 82), rgb(255, 136, 34), rgb(239, 239, 21), rgb(13, 214, 90), rgb(75, 116, 255), rgb(188, 48, 240), rgb(188, 48, 240) );
    animation: Gradientbackground1 5s ease infinite;
    background-size: 800% 800%;
    
    
/*    display: none;*/
}

#rabbitear1{
    width:100%;
    height:20px;
/*    background-color: #c0ffdb;*/

/*    background-blend-mode:screen;*/
}
#bigtitle{
    width:100%;
    height: 200px;
    justify-content: center;
    display: flex;
/*    background-color: #d2fff0;*/
    position: absolute;
    top:80px;
}
#bigtitle p{
    font-family: JB;
    font-size: 70pt;
    color: white;
}
#imagebox{
    width:100%;
    height:800px;
/*    background-color: deepskyblue;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 300px;
}
#imagebox img{
    width:  250px;
    height: 850px;
}
#descriptionsbox{
    width: 100%;
    height:500px;
/*    background-color: #ffffb7;*/
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top:950px;
}
#descriptionsbox p{
    font-family: JBC;
    font-size: 45pt;
    text-align: center;
    color: white;
}
#letsgo{
    width:100%;
    height:286px;
/*    background-color: #ffa8a8;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1350px;
}
#letsgo a{
    font-family: JBC;
    font-size: 60pt;
    color: #00AEEF;
    text-align: center;
    color: white;
    text-decoration: none;
}