@keyframes AnimationName { 
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}

@keyframes Spinandscale1{
    0%{transform: rotate(0deg) scale(1) ;}
    100%{transform: rotate(-100deg) scale(0.1) ;}
}

#app5{
    width:120vw;
    height:100vh;
/*    background-color: #ffbdbd;*/
    position: absolute;
    margin-left: 120vw;
    top: 0px;
/*    margin-top: 4827px;*/
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    
    
    display: none;
}
#rabbitear5{
    width:100%;
    height:140px;
}

#questiontitle5{
    width:100%;
    height: 15%;
/*    background-color: rgba(255, 228, 196, 0.67);*/
    display:flex;
    align-items: center;
    justify-content: center;
}
#questiontitle5 p{
    font-family: JB;
    font-size: 70pt;
    text-align: center;
}
#flower img{
    width: 60vw;
    height: 60vw;
/*    background-color: aquamarine;*/
    margin-top: 250px;
    animation: Spinandscale1 1.5s ease-in-out infinite alternate;
}
#flower video{
    position: absolute;
}
